@model Praksa.Models.PraksePomocna

@{
    Layout = "~/Views/Shared/_mylajout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalji</title>
</head>
<body>
    <div class="center">
        <h4>Detalji prijavljene prakse</h4>
        <hr />
        <dl>
            <dt>
                <b>@Html.DisplayNameFor(model => model.ime):</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.prezime):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prezime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nazivPoduzeca):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nazivPoduzeca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.godina):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.godina)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.pocetak):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pocetak)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kraj):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kraj)
            </dd>
        </dl>
        @if (Model.zakljucano)
        {
            <div>
                @Html.ActionLink("Dodaj bilješku", "Zabiljeska", new { idpr = Model.id })
                @Html.ActionLink("Dokumenti", "Dokumenti", new { id = Model.id })
            </div>
        }

    </div>


    @if (!Model.zakljucano)
    {
        <div class="center">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Uredi praksu</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.pocetak, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.pocetak, new { htmlAttributes = new { @class = "datepicker" } })
                            @Html.ValidationMessageFor(model => model.pocetak, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.kraj, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.kraj, new { htmlAttributes = new { @class = "datepicker" } })
                            @Html.ValidationMessageFor(model => model.kraj, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Spremi" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <p>
                @Html.ActionLink("Odjavi praksu", "Odjavi", new { id = Model.id })
            </p>
        </div>
    }
   
</body>
</html>
