@model IEnumerable<Praksa.Models.PraksePomocna>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mylajout.cshtml";
}
<center>
    <h2>Popis prijavljenih praksa</h2>

   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nazivPoduzeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.godina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pocetak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kraj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zavrseno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zakljucano)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nazivPoduzeca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.godina)
                </td>
                <td>
                    @item.pocetak.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.kraj.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zavrseno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zakljucano)
                </td>
                <td>
                    @if (item.zakljucano)
                    {
                        @Html.ActionLink("Odključaj", "Zakljucaj", new { id = item.id }) <text> | </text>
                    }
                    else
                    {
                        @Html.ActionLink("Zaključaj", "Zakljucaj", new { id = item.id }) <text> | </text>
                    }
                    @Html.ActionLink("Bilješke", "Biljeske", new { id = item.id }) | 
                    @Html.ActionLink("Dokumenti", "Dokumenti", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</center>