@model IEnumerable<Praksa.Models.Poduzeca>

@{
    Layout = "~/Views/Shared/_mylajout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
        <h2>Poduzeca</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nazivPoduzeca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.adresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.faks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.odgovornaOsoba)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opisPoduzeca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.brojStudenata)
                </th>
                @if (User.IsInRole("admin"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.aktivno)
                    </th>
                    <th></th>
                }
                @if (User.IsInRole("student") && !ViewBag.prijavljen)
                {
                    <th></th>
                }

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nazivPoduzeca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.adresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.faks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.odgovornaOsoba)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.opisPoduzeca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brojStudenata)
                    </td>

                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            @Html.DisplayFor(model => item.aktivno)
                        </td>
                    }

                        @if (User.IsInRole("admin"))
                            { 
                            <td>
                            @Html.ActionLink("Uredi", "Edit", new { id = item.id_poduzeca })<text> | </text>
                            @if (item.aktivno)
                            {
                                @Html.ActionLink("Deaktiviraj", "AktivirajDeaktiviraj", new { id = item.id_poduzeca })
                            }
                            else
                            {
                                @Html.ActionLink("Aktiviraj", "AktivirajDeaktiviraj", new { id = item.id_poduzeca })
                            }
                            </td>
                        }
                        @if (User.IsInRole("student") && !ViewBag.prijavljen)
                        {
                            <td>
                            @Html.ActionLink("Prijavi", "Prijavi", new { id = item.id_poduzeca })
                            </td>
                        }
                    
                </tr>
            }

        </table>

        <p>
            @Html.ActionLink("Predloži", "Predlozi")
        </p>
        <p>
            <span class="glyphicon glyphicon-print"></span> @Html.ActionLink("Ispiši listu", "Ispisi", "", new { target = "blank" })
        </p>
    </center>
</body>

</html>
