@model Praksa.Models.Poduzeca

@{
    Layout = "~/Views/Shared/_mylajout.cshtml";


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prijavi</title>
</head>
<body>
        <h4>Prijavi praksu</h4>
        <hr />
        @using (Html.BeginForm())
        {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nazivPoduzeca):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nazivPoduzeca)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.adresa):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adresa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mail):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.url):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.url)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefon):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.faks):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.faks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.odgovornaOsoba):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.odgovornaOsoba)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.opisPoduzeca):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.opisPoduzeca)
            </dd>

        </dl>

    <p>
        @Html.ActionLink("Prijavi", "PrijaviP", new { id = Model.id_poduzeca}) |
        @Html.ActionLink("Natrag", "Index")
    </p>
}
</body>
</html>
