@model Praksa.Models.Student
@using Praksa.Models
@{
    Layout = "~/Views/Shared/_mylajout.cshtml";


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registracija</title>
</head>
<body>
    <div>

    </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="text-align:center">
                <h4>Student</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.maticniBroj, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.maticniBroj, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.maticniBroj, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ime, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.ime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.prezime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.prezime, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.prezime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.adresaStanovanja, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.adresaStanovanja, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">

                        @Html.ValidationMessageFor(model => model.adresaStanovanja, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.smjerStudija, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.smjerStudija, new SelectList(Enum.GetValues(typeof(SmjerStudija))), "Odaberi smjer")
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.smjerStudija, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.godinaStudija, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.godinaStudija, 1) 1
                        @Html.RadioButtonFor(model => model.godinaStudija, 2) 2
                        @Html.RadioButtonFor(model => model.godinaStudija, 3) 3
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.godinaStudija, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.lozinka, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.lozinka, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.lozinka, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registriraj" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
</body>
</html>
