
@model Praksa.Models.Student


@{
    Layout = "~/Views/Shared/_mylajout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
            <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ime):
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.prezime):
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.prezime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.adresaStanovanja):
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.adresaStanovanja)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mail):
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefon):
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefon)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.smjerStudija):
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.smjerStudija)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.godinaStudija):
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.godinaStudija)
            </dd>
    
          
    
        </dl>
      
       
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.maticniBroj }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
       </div>
</body>
</html>
